* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffff;
  background-color: #100e17;
}

.main-form {
  margin-top: 20px;
  height: 390;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: 0.2s;
}

.main-table {
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  padding: 1.5rem;
  transition: 0.2s;
}

.error {
  color: rgb(240, 79, 79);
  font-weight: 650;
  display: block;
  padding: 6px 0;
  font-size: 15px;
}

.form-control .error {
  border-color: rgb(240, 79, 79);
  padding: 0.375rem 0.75rem;
}
